<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stickys</title>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />

</head>
<body>
    <!-- Wrap all page content -->
   
        @RenderBody()
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
    <script src="~/Scripts/customerJs/jquery.placepicker.js"></script>
    <script>

        $(document).ready(function () {

            // Basic usage
            $(".placepicker").placepicker();

            // Advanced usage
            $("#advanced-placepicker").each(function () {
                var target = this;
                var $collapse = $(this).parents('.form-group').next('.collapse');
                var $map = $collapse.find('.another-map-class');

                var placepicker = $(this).placepicker({
                    map: $map.get(0),
                    placeChanged: function (place) {
                        console.log("place changed: ", place.formatted_address, this.getLocation());
                    }
                }).data('placepicker');
            });

        }); // END document.ready

    </script>
</body>
</html>