<!-- Slider -->
<section id="ukSlider" class="uk-slider-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 padding-0">
                <div class="uk-slidenav-position" data-uk-slideshow="{animation: 'swipe', autoplay:true}">
                    <ul class="uk-slideshow uk-overlay-active">
                        <li aria-hidden="false" class="uk-active" style="animation-duration: 500ms; width: 100%; height: auto;">
                            <img width="1920" height="700" alt="" src="images/slider/slider1-organic-kitchen/slide1.jpg">
                            <div class="uk-overlay-panel uk-overlay-fade">
                                <div class="uk-container uk-container-center uk-height-1-1 uk-width-1-1 uk-flex uk-flex-middle">
                                    <div class="uk-width-3-10 uk-push-1-10 uk-text-left">
                                        <div class="wow fadeInLeft slider-text  slider-text-2" data-wow-delay="0.7s">
                                            <h1 class="lato85 lato84 uk-text-primary">BIGGER</h1>
                                        </div>
                                        <div class="wow fadeInLeft slider-text slider-text-2" data-wow-delay="1.2s">
                                            <h2 class="lato85 lato84 uk-slider-text-gray">BETTER</h2>
                                        </div>
                                        <div class="wow rollIn slider-text  slider-text-2" data-wow-delay="1.7s">
                                            <button class="uk-button" disabled><span class="lato85 lato24 round-me">ORGANIC FOOD 2</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li aria-hidden="true" class="" style="animation-duration: 500ms; width: 100%; height: auto;">
                            <img width="1920" height="700" alt="" src="images/slider/slider1-organic-kitchen/slide2.jpg">
                            <div class="uk-overlay-panel uk-overlay-fade">
                                <div class="uk-container uk-container-center uk-height-1-1 uk-width-1-1">
                                    <div class="uk-width-3-10 uk-text-left">
                                        <div class="wow fadeInLeft slider-text" data-wow-delay="7.7s">
                                            <button class="uk-button" disabled><span class="lato85 lato24 round-me">FREE & FAST DELIVERY</span></button>
                                        </div>
                                        <br class="uk-hidden-small">
                                        <div class="wow fadeInDownBig slider-text" data-wow-delay="8.7s">
                                            <button class="uk-button" disabled><span class="lato85 lato24 round-me">TO YOUR DOOR</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li aria-hidden="true" class="" style="animation-duration: 500ms; width: 100%; height: auto;">
                            <img width="1920" height="700" alt="" src="images/slider/slider1-organic-kitchen/slide3.jpg">
                            <div class="uk-overlay-panel uk-overlay-fade uk-text-left">
                                <div class="uk-slider-caption-50">
                                    <div class="wow fadeInDownBig slider-text slider-text-2 uk-text-center" data-wow-delay="13.7s">
                                        <button class="uk-button uk-button-large uk-button-white" disabled><span class="lato85 lato36 round-me-white">Local Pickup Spots</span></button>
                                    </div>
                                </div>
                                <div class="uk-slider-caption-0-200">
                                    <div class="wow fadeInLeft slider-text" data-wow-delay="14.7s">
                                        <button class="uk-button" disabled><span class="lato85 lato24 round-me">6TH AVE</span></button>
                                    </div>
                                    <div class="wow fadeInLeft slider-text" data-wow-delay="14.9s">
                                        <img alt="" src="images/elements/location.png" class="width-50-height-50">
                                    </div>
                                </div>
                                <div class="uk-slider-caption-0-600">
                                    <div class="wow fadeInLeft slider-text" data-wow-delay="15.2s">
                                        <button class="uk-button" disabled><span class="lato85 lato24 round-me">15 HEALTHY STR</span></button>
                                    </div>
                                    <div class="wow fadeInLeft slider-text" data-wow-delay="15.4s">
                                        <img alt="" src="images/elements/location.png" class="width-50-height-50">
                                    </div>
                                </div>
                                <div class="uk-grid uk-grid-collapse">
                                    <div class="uk-width-3-10">
                                    </div>
                                    <div class="uk-width-2-10">
                                        <div class="wow fadeInLeft slider-text  hidden-xs" data-wow-delay="15.7s">
                                            <button class="uk-button" disabled><span class="lato85 lato24 round-me">9 ORGANIC AVE</span></button>
                                        </div>
                                        <div class="wow fadeInLeft slider-text  hidden-xs" data-wow-delay="15.9s">
                                            <img alt="" src="images/elements/location.png" class="width-50-height-50">
                                        </div>
                                    </div>>
                                    <div class="uk-width-4-10">
                                        <div class="wow fadeInLeft slider-text" data-wow-delay="16.2s">
                                            <button class="uk-button uk-button-white" disabled><span class="lato85 lato16 round-me-white">Shop With 1 Click!</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a data-uk-slideshow-item="previous" class="uk-slidenav  uk-slidenav-previous uk-hidden-touch" href="#"></a>
                    <a data-uk-slideshow-item="next" class="uk-slidenav  uk-slidenav-next uk-hidden-touch" href="#"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Slider -->