@{
    ViewBag.Title = "UpdateExtraCharges";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model List<Resturant.Models.ExtraCharge>
@using Resturant.Models;
<div class="row" style="margin-top:10%;">
    <div class="col-md-offset-2 col-md-6">
        <div class="box box-primary col-md-10">
            <div class="box-body">
                <h3 class="box-title">Update ExtraCharge</h3>
                @{
    ExtraCharge extraCharge = ViewBag.ExtraCharge;
    <form role="form" method="post" action="../AdminFood/UpdateExtraCharges">

        <div class="form-group">

            <input type="text" class="form-control" name="Name" value=@extraCharge.Name>
        </div>
        <div class="form-group">
            @Html.Hidden("Id", extraCharge.Id)
            <input type="text" class="form-control" name="Price" value=@extraCharge.Price>
        </div>

        <!-- text input -->


        <div class="box-footer">
            <button type="submit" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary pull-right">Update</button>
        </div>
    </form>
}
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">List of ExtraCharge</h3>
    </div>
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-md-10">Name</th>
                    <th>Percentage</th>

                    <th>Action</th>

                </tr>

            </thead>
            @foreach (ExtraCharge extraCharges in Model.ToList())
            {
                <tr>
                    <td>@extraCharges.Name</td>
                    <td>@extraCharges.Price</td>

                    <td>@Html.ActionLink("Delete ExtraCharges", "deleteExtraCharges", new { _id = extraCharges.Id }, new { @type = "button", @class = "btn btn-block btn-primary" }) </td>

                </tr>
            }
            <tbody>
        </table>
    </div>
</div>

