@{
    ViewBag.Title = "Update Food";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model List<Resturant.Models.Food>
@using Resturant.Models;

<script type="text/javascript">
    function updateValue() {

        $.ajax({
            dataType: "json",
            type: "GET",
            url: '@Url.Action("getCategory", "AdminFood")',
            contentType: "application/json; charset=utf-8",
            data: { cousineId: parseInt($('#CousineId').val()) },
            success: function (response) {

                var $el = $("#CategoryId");
                $el.empty(); // remove old options
                $el.append($("<option></option>")
                        .attr("value", '').text('Please Select'));

                $.each(response, function (value, key) {

                    $el.append($("<option></option>")
                            .attr("value", key.Id).text(key.Name));
                });
            },
            error: function (response) { alert(response); }

        });

    }

</script>
<div class="row" style="margin-top:10%;">
    <div class="col-md-offset-2 col-md-6">
        <div class="box box-primary col-md-10">
            <div class="box-body">
                <h3 class="box-title">Update Food</h3>
                <form role="form" method="post" action="../AdminFood/UpdateFood" enctype="multipart/form-data">
                    @{
                        Food f = ViewBag.food;
                    }
                    <div class="form-group">
                        <label>Select Cousine</label>
                        <select class="form-control" onchange="updateValue()" id="CousineId" name="CousineId">
                            <option>Select a Cousine</option>
                            @foreach (Cousine cousine in ViewBag.Cousines)
                            {
                                <option value=@cousine.Id>"@cousine.Name"</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Category</label>
                        <select class="form-control" id="CategoryId" name="CategoryId"></select>
                    </div>
                    <!-- text input -->
                    <div class="form-group">

                        <input type="text" class="form-control" name="Name" value="@f.Name">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" name="Tageline" value="@f.Tageline">
                    </div>
                    <input type="text" name="Id" value=@f.Id hidden />
                    <input type="file" name="file" />

                    <br/>

                    <label>
                        <input type="checkbox" name="ImgBox"> Remove Image
                    </label>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary pull-right">Add</button>
                    </div>


                    <!-- radio -->
                    <!-- select -->
                    <!-- Select multiple-->
                </form>
            </div>
        </div>
    </div>
</div>
<
