@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Slider -->
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#"><img src="~/Content/images/logo.png" alt=""></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">About</a></li>
                <li><a href="#about">Menu</a></li>
                <li><a href="#contact">Location</a></li>
                <li><a href="#contact">CATERING</a></li>
                <li><a href="#contact">CAREERS</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li class="order-online"><a href="#contact">Order Online</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid bg-about">
    <div class="row">
        <div class="col-xs-12  text-center">
            <div class="about-us-wrapper mb30 pt140">
                <h1>THE BEST DAMN <br> CHICKEN FINGER IN<br> NYC</h1>

                <p class="mb30">veryone can name their favorite slice of pizza and even their favorite hamburger in New York City, but can they name their favorite chicken fingers? Sticky's Finger Joint is on a mission to solve that problem.</p>
                <p class="mb30">Created in 2012 by Paul Abrahamian and Jon Sherman, Sticky’s Finger Joint is New York’s first variety gourmet chicken finger restaurant. Sticky’s takes the classic chicken finger to an elevated level by not only locally sourcing ingredients and using farm raised, antibiotic-free, hormone-free, chicken, but also by putting unique, flavorful, and creative spins on this childhood favorite.</p>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="logo-footer"> <a href="#"><img src="~/Content/images/stickys-logo-dark.png" alt=""></a> </div>
                <p>
                    New York City’s finest gourmet Chicken Finger restaurant. Our chicken is fresh, never <br>
                    frozen, antibiotic free, hormone free and always deliciously different.
                </p>
                <div class="footer-social-media"> <a href="#"><img src="~/Content/images/facebook.png" alt=""></a> <a href="#"><img src="~/Content/images/twitter.png" alt=""></a> <a href="#"><img src="~/Content/images/instagram.png" alt=""></a> </div>
                <p class="copyright">© STICKY'S FINGER JOINT | WEBSITE POWERED BY <a href="#">BRANDIBBLE </a></p>
            </div>
        </div>
    </div>
</footer>
<!-- /container -->
<!-- Bootstrap core JavaScript
    ================================================== -->

