@{
    ViewBag.Title = "Career";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#"><img src="~/Content/images/logo.png" alt=""></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">About</a></li>
                <li><a href="#about">Menu</a></li>
                <li><a href="#contact">Location</a></li>
                <li><a href="#contact">CATERING</a></li>
                <li class="active"><a href="#contact">CAREERS</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li class="order-online"><a href="#contact">Order Online</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid bg-career">
    <div class="row">
        <div class="col-xs-12">
            <div class="career-wrapper mb30 pt140">
                <div class="row">
                    <div class="col-sm-8 text-center">
                        <h1 class="mb30">CAREERS</h1>
                        <p class="mb30">With 3 current NYC locations and many more on the way, Sticky’s continues to make a dynamic impact each and every day through great teamwork and dedication to its team-members and guests.</p>
                        <p class="mb30">We are always looking for professional and fun individuals to join our team! </p>
                    </div>
                    <div class="col-sm-4">
                        <form class="form-career">
                            <div class="form-group">
                                <input type="name" class="form-control" id="" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <div class="select-wrapper blackSelect maxw300">
                                    <select class="form-control w108P">
                                        <option>Today</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" cols="1"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="file" id="exampleInputFile">
                            </div>
                            <p class="text-center">  <button type="submit" class="btn btn-primary">Apply</button></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="logo-footer"> <a href="#"><img src="~/Content/images/stickys-logo-dark.png" alt=""></a> </div>
                <p>
                    New York City’s finest gourmet Chicken Finger restaurant. Our chicken is fresh, never <br>
                    frozen, antibiotic free, hormone free and always deliciously different.
                </p>
                <div class="footer-social-media"> <a href="#"><img src="~/Content/images/facebook.png" alt=""></a> <a href="#"><img src="~/Content/images/twitter.png" alt=""></a> <a href="#"><img src="~/Content/images/instagram.png" alt=""></a> </div>
                <p class="copyright">© STICKY'S FINGER JOINT | WEBSITE POWERED BY <a href="#">BRANDIBBLE </a></p>
            </div>
        </div>
    </div>
</footer>
<!-- /container --> 
