@{
    ViewBag.Title = "Catering";
}

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#"><img src="~/Content/images/logo.png" alt=""></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">About</a></li>
                <li><a href="#about">Menu</a></li>
                <li><a href="#contact">Location</a></li>
                <li class="active"><a href="#contact">CATERING</a></li>
                <li><a href="#contact">CAREERS</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li class="order-online"><a href="#contact">Order Online</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="jumbotron mt120">
    <img src="~/Content/images/catering-bg.jpg" alt="">
    <div class="catering-head text-center">
        <h2 col>CATERING</h2>
        <a class="btn btn-primary" href="#">Browse this Menu</a> <a class="btn btn-primary" href="#">Get in Touch</a>
    </div>
</div>
<div class="container-fluid mt20">
    <div class="row">
        <div class="col-xs-12">
            <div class="catering-wrapper">
                <div class="catering-detail-top">
                    Let us cater your next office lunch or party! We ask for 24 hours advanced notice for large catering orders, but we do our best to accomodate all requests. Please contact us at <a href="#">stickyscatering@gmail.com</a> with any questions and to place your order!
                </div>
                <div class="dots">&nbsp;</div>
                <h2 class="catering-heading"><img src="~/Content/images/catering-heading.png" alt=""></h2>
                <p><a class="btn btn-primary" href="#">Download PDF</a></p>
                <div class="menu-category">
                    <h4>CLASSICS</h4>

                    <table class="table m0">
                        <thead>
                            <tr>
                                <th style="width:75%"></th>
                                <th style="width:13%" class="price text-right fz18">FULL TRAY</th>
                                <th style="width:12%" class="price text-right fz18">1/2 TRAY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">FINGERS</h3></td>
                                <td class="price text-right">$60</td>
                                <td class="price text-right">$33</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">POPPERS</h3></td>
                                <td class="price text-right">$60</td>
                                <td class="price text-right">$33</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">GRILLED FINGERS</h3></td>
                                <td class="price text-right">$60</td>
                                <td class="price text-right">$33</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="menu-category">
                    <h4>SIGNATURE CHICKEN</h4>
                    <h5 class="colRed">CHOICE OF FINGERS, POPPERS OR GRILLED CHICKEN AND DRESSED IN ONE OF OUR DELICIOUS PREPARATIONS FROM THE SIGNATURE MENU</h5>
                    <table class="table m0">
                        <thead>
                            <tr>
                                <th style="width:75%"></th>
                                <th style="width:13%" class="price text-right fz18">FULL TRAY</th>
                                <th style="width:12%" class="price text-right fz18">1/2 TRAY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">SIGNATURE CHICKEN</h3></td>
                                <td class="price text-right">$75</td>
                                <td class="price text-right">$40</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="menu-category">
                    <h4>VEGETARIAN FINGER</h4>
                    <h5 class="colRed">CHOICE OF FINGERS, POPPERS OR GRILLED CHICKEN AND DRESSED IN ONE OF OUR DELICIOUS PREPARATIONS FROM THE SIGNATURE MENU</h5>
                    <table class="table m0">
                        <thead>
                            <tr>
                                <th style="width:75%"></th>
                                <th style="width:13%" class="price text-right fz18">FULL TRAY</th>
                                <th style="width:12%" class="price text-right fz18">1/2 TRAY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">CLASSIC STYLE</h3></td>
                                <td class="price text-right">$75</td>
                                <td class="price text-right">$40</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">SIGNATURE STYLE</h3></td>
                                <td class="price text-right">$90</td>
                                <td class="price text-right">$48</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="menu-category">
                    <h4>SIDES</h4>

                    <table class="table m0">
                        <thead>
                            <tr>
                                <th style="width:75%"></th>
                                <th style="width:13%" class="price text-right fz18">FULL TRAY</th>
                                <th style="width:12%" class="price text-right fz18">1/2 TRAY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">CLASSIC FRIES</h3></td>
                                <td class="price text-right">$35</td>
                                <td class="price text-right">$20</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">CAJUN FRIES</h3></td>
                                <td class="price text-right">$30</td>
                                <td class="price text-right">$18</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">BACON MAC FRIES</h3></td>
                                <td class="price text-right">$40</td>
                                <td class="price text-right">$22</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">TRUFFLE PARM FRIES</h3></td>
                                <td class="price text-right">$40</td>
                                <td class="price text-right">$22</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">POT PIE FRIES</h3></td>
                                <td class="price text-right">$40</td>
                                <td class="price text-right">$22</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">S'MORE FRIES</h3></td>
                                <td class="price text-right">$40</td>
                                <td class="price text-right">$22</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">SIDE SALAD</h3></td>
                                <td class="price text-right">$35</td>
                                <td class="price text-right">$22</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">PICKLES (16 OZ CONTAINER)</h3></td>
                                <td class="price text-right"></td>
                                <td class="price text-right">$10</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white"></h3></td>
                                <td class="price text-right"></td>
                                <td class="price text-right">$10</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="menu-category">
                    <h4>SAUCES</h4>
                    <h5 class="colRed">SERVED IN 8 OZ CONTAINERS</h5>
                    <table class="table m0">
                        <thead>
                            <tr>
                                <th style="width:87%"></th>

                                <th style="width:12%" class="price text-right fz18">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">STICKY'S SAUCE</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">SASSY BBQ</h3></td>
                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">SUNNY MUSTARD</h3></td>
                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">BUTTERMILK BABY RANCH</h3></td>
                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">MAC SAUCE</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">GRANDMA'S GRAVY</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">VAMPIRE AIOLI</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">GREEN TEA CAESAR)</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">GENERAL STICKY TSO</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>

                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">THAI SWEET CHILI</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">CARAMEL</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">S'MORE SAUCE</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">SRIRACHA RANCH</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">WASABI AIOLI</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">BUFFALO BALSAMIC MAPLE</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">NASHVILLE NUMB</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">CHIPOTLE MAYO</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">CHIPOTLE HONEY</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>
                            <tr>
                                <td class="orange-dots"><h3 class="m0 pull-left bg-white">CRAY SAUCE</h3></td>

                                <td class="price text-right">$5</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="logo-footer"> <a href="#"><img src="~/Content/images/stickys-logo-dark.png" alt=""></a> </div>
                <p>
                    New York City’s finest gourmet Chicken Finger restaurant. Our chicken is fresh, never <br>
                    frozen, antibiotic free, hormone free and always deliciously different.
                </p>
                <div class="footer-social-media"> <a href="#"><img src="~/Content/images/facebook.png" alt=""></a> <a href="#"><img src="~/Content/images/twitter.png" alt=""></a> <a href="#"><img src="~/Content/images/instagram.png" alt=""></a> </div>
                <p class="copyright">© STICKY'S FINGER JOINT | WEBSITE POWERED BY <a href="#">BRANDIBBLE </a></p>
            </div>
        </div>
    </div>
</footer>
<!-- /container --> 
