@{
    ViewBag.Title = "Menu";
}

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#"><img src="~/Content/images/logo.png" alt=""></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">About</a></li>
                <li class="active"><a href="#about">Menu</a></li>
                <li><a href="#contact">Location</a></li>
                <li><a href="#contact">CATERING</a></li>
                <li><a href="#contact">CAREERS</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li class="order-online"><a href="#contact">Order Online</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid menu-bg">
    <div class="row">
        <div class="col-xs-12">
            <div class="bg-white maxw800 menu-wrapper">
                <h2 class="text-center">MENU</h2>
                <h3 class="text-center">PLEASE CHOOSE A LOCATION</h3>
                <div class="select-wrapper blackSelect maxw300">
                    <select class="form-control w108P">
                        <option>Today</option>
                    </select>
                </div>
                <div class="dots"> &nbsp; </div>
                <h3 class="text-center mb30">FIND OUR GREENWICH VILLAGE MENU BELOW.</h3>
                <p class="text-center mb30"><a class="btn btn-primary" href="#">ORDER NOW</a></p>
                <div class="menu-category">
                    <h4>MARCH MADNESS SPECIA</h4>
                    <h5>NCAA MARCH MADNESS SPECIAL</h5>
                    <p>2 large poppers, 2 large crunchy fingers, 3 classic fries, 16 unique sauces (sticky's sauce, sunny mustard, buttermilk baby ranch, sassy bbq, mac sauce, vampire aioli, thai sweet chili, general sticky tso, caramel, s'more sauce, buffalo balsamic maple, cray sauce, nashville numb, chipotle honey, chipotle mayo)</p>
                    <p class="text-right price">$64.00</p>
                </div>
                <div class="menu-category">
                    <h4>FINGERS</h4>
                    <h5 class="colRed">CHOOSE BETWEEN CRUNCHY AND GRILLED</h5>
                    <table class="table m0">
                        <tr>
                            <td><h3 class="m0">FINGERS BASKET <small>3 fingers + small fries + 1 sauce</small> </h3></td>
                            <td class="price text-right">$9.65</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">FINGERS BASKET <small>3 fingers + small fries + 1 sauce</small> </h3></td>
                            <td class="price text-right">$7.35</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">FINGERS BASKET <small>3 fingers + small fries + 1 sauce</small> </h3></td>
                            <td class="price text-right">$11.94</td>
                        </tr>
                    </table>
                </div>
                <div class="menu-category">
                    <h4>POPPERS</h4>
                    <table class="table m0">
                        <tr>
                            <td><h3 class="m0">POPPER BASKET <small>small fries + 1 sauce</small> </h3></td>
                            <td class="price text-right">$9.65</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">POPPERS <small>1 sauce</small> </h3></td>
                            <td class="price text-right">$7.35</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">LARGE POPPERS <small>2 sauces</small> </h3></td>
                            <td class="price text-right">$11.94</td>
                        </tr>
                    </table>
                </div>
                <div class="menu-category">
                    <h4>SIGNATURE MENU</h4>
                    <h5 class="colRed">STICKY'S ELEVATED CHICKEN EXPERIENCE. SAUCED UP. DRESSED UP.</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul>
                                <li>
                                    <h5>BUFFALO BALSAMIC BLUE</h5>
                                    <p>buffalo balsamic maple, blue cheese crumble, shredded carrots, parsley</p>
                                </li>
                                <li>
                                    <h5>GENERAL STICKY TSO</h5>
                                    <p>sticky tso, scallions, hot peppers, b&w sesame seeds</p>
                                </li>
                                <li>
                                    <h5>THAI FIESTA</h5>
                                    <p>mac sauce, thai sweet chili, taco seasoning, b&w sesame seeds</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li>
                                    <h5>HONEY BBQ CLUB</h5>
                                    <p>sassy bbq, honey, bacon bits, shredded cheddar, crispy shallots, parsley (add $0.92)</p>
                                </li>
                                <li>
                                    <h5>SALTED CARAMEL PRETZEL</h5>
                                    <p>caramel, pretzel salt, fried pretzel bits, parsley</p>
                                </li>
                                <li>
                                    <h5>VAMPIRE KILLER</h5>
                                    <p>vampire aioli, grated parmesan, garlic chips, pink peppercorn flakes</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="dots"> &nbsp; </div>
                    <table class="table m0">
                        <tr>
                            <td><h3 class="m0">BASKET (3 FINGERS + FRIES) </h3></td>
                            <td class="price text-right">$12.40</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">BASKET (REGULAR POPPERS + FRIES)</h3></td>
                            <td class="price text-right">$12.40</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">3 FINGERS</h3></td>
                            <td class="price text-right">$9.65</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">5 FINGERS</h3></td>
                            <td class="price text-right">$13.78</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">REGULAR POPPERS</h3></td>
                            <td class="price text-right">$9.65</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">LARGE POPPERS</h3></td>
                            <td class="price text-right">$13.78</td>
                        </tr>
                    </table>
                </div>
                <div class="menu-category">
                    <h4>SANDWICHES</h4>
                    <h5 class="colRed">TWO FINGERS ON A POTATO BUN. CHOOSE BETWEEN CRUNCHY OR GRILLED CHICKEN.</h5>
                    <table class="table m0">
                        <tr>
                            <td><h3 class="m0">CLASSIC pickles <small> purple slaw, sticky’s sauce</small> </h3></td>
                            <td class="price text-right">$8.27</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SPICY CLASSIC <small>classic sandwich with heat</small> </h3></td>
                            <td class="price text-right">$8.27</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SIGNATURE SANDWICH<small>pick any flavor from the signature menu</small> </h3></td>
                            <td class="price text-right">$9.18</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SANDWICH BASKET<small>classic sandwich + fries</small> </h3></td>
                            <td class="price text-right">$10.56</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SIGNATURE SANDWICH BASKET</h3></td>
                            <td class="price text-right">$11.48</td>
                        </tr>
                    </table>
                </div>
                <div class="menu-category">
                    <h4>WRAPS</h4>
                    <h5 class="colRed">TWO FINGERS IN A WHOLE WHEAT TORTILLA. CHOOSE BETWEEN CRUNCHY OR GRILLED CHICKEN.</h5>
                    <table class="table m0">
                        <tr>
                            <td><h3 class="m0">CLASSIC <small> greens, tomatoes, parm cheese, caramelized onions, sticky's sauce</small> </h3></td>
                            <td class="price text-right">$11.02</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SPICY CLASSIC <small>classic sandwich with heat</small> </h3></td>
                            <td class="price text-right">$8.27</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SIGNATURE WRAP <small>pick any flavor from the signature menu</small> </h3></td>
                            <td class="price text-right">$9.18</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">WRAP BASKET <small>classic wrap (or spicy classic) + fries</small> </h3></td>
                            <td class="price text-right">$10.56</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SIGNATURE WRAP BASKET</h3></td>
                            <td class="price text-right">$11.48</td>
                        </tr>
                    </table>
                </div>
                <div class="menu-category">
                    <h4>SALADS</h4>
                    <h5 class="colRed">MIXED GREENS WITH YOUR CHOICE OF CRUNCHY OR GRILLED CHICKEN.</h5>
                    <table class="table m0">
                        <tr>
                            <td><h3 class="m0">CLASSIC <small> tomatoes, carrots, red onions, sticky vinaigrette</small> </h3></td>
                            <td class="price text-right">$9.65</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">TOKYO CAESAR <small>green tea caesar dressing, fried onions, sesame seeds</small> </h3></td>
                            <td class="price text-right">$9.65</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SOUTHERN SALAD <small>tomatoes, red onions, cheddar, bacon bits, buttermilk ranch</small> </h3></td>
                            <td class="price text-right">$9.65</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">BUFFALO COBB <small>tomatoes, carrots, red onions, bacon bits, buffalo balsamic maple</small> </h3></td>
                            <td class="price text-right">$9.65</td>
                        </tr>
                    </table>
                </div>
                <div class="menu-category">
                    <h4>SAUCES</h4>
                    <table class="table m0">
                        <tr>
                            <td><h3 class="m0">STICKY'S SAUCE</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SASSY BBQ</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SUNNY MUSTARD </h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">BUTTERMILK BABY RANCH</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">MAC SAUCE</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">GRANDMA'S GRAVY</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">VAMPIRE AIOLI</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">GREEN TEA CAESAR</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">GENERAL STICKY TSO</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">THAI SWEET CHILI</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">CARAMEL</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">S'MORE SAUCE</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SRIRACHA RANCH</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">WASABI AIOLI</h3></td>
                            <td class="price text-right">$9.65</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">BUFFALO BALSAMIC MAPLE</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">NASHVILLE NUMB</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">CHIPOTLE MAYO</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">CHIPOTLE HONEY</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">CRAY SAUCE</h3></td>
                            <td class="price text-right">$0.92</td>
                        </tr>
                    </table>
                </div>
                <div class="menu-category">
                    <h4>DRINKS</h4>
                    <table class="table m0">
                        <tr>
                            <td><h3 class="m0">PEACH ICED TEA</h3></td>
                            <td class="price text-right">$2.76</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">MEXICAN COKE</h3></td>
                            <td class="price text-right">$2.76</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">BOYLAN'S SODA</h3></td>
                            <td class="price text-right">$2.76</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">STRAWBERRY LEMONADE</h3></td>
                            <td class="price text-right">$2.76</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SODA CAN</h3></td>
                            <td class="price text-right">$2.76</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">BOTTLED WATER</h3></td>
                            <td class="price text-right">$2.76</td>
                        </tr>
                    </table>
                </div>
                <div class="menu-category">
                    <h4>SIDES</h4>
                    <table class="table m0">
                        <tr>
                            <td><h3 class="m0">CLASSIC FRIES</h3></td>
                            <td class="price text-right">$4.00</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">CAJUN FRIES</h3></td>
                            <td class="price text-right">$4.00</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">BACON MAC FRIES</h3></td>
                            <td class="price text-right">$6.00</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">TRUFFLE PARM FRIES</h3></td>
                            <td class="price text-right">$6.00</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">S'MORE FRIES</h3></td>
                            <td class="price text-right">$6.00</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">SIDE SALAD</h3></td>
                            <td class="price text-right">$5.00</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">PICKLES</h3></td>
                            <td class="price text-right">$2.50</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">PURPLE SLAW</h3></td>
                            <td class="price text-right">$2.50</td>
                        </tr>
                        <tr>
                            <td><h3 class="m0">MINI POPPERS</h3></td>
                            <td class="price text-right">$5.00</td>
                        </tr>
                    </table>
                </div>
                <div class="clr"></div>
            </div>
            <p class="text-center mt20">* Extra charge for additional ingredients.</p>
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="logo-footer"> <a href="#"><img src="~/Content/images/stickys-logo-dark.png" alt=""></a> </div>
                <p>
                    New York City’s finest gourmet Chicken Finger restaurant. Our chicken is fresh, never <br>
                    frozen, antibiotic free, hormone free and always deliciously different.
                </p>
                <div class="footer-social-media"> <a href="#"><img src="~/Content/images/facebook.png" alt=""></a> <a href="#"><img src="~/Content/images/twitter.png" alt=""></a> <a href="#"><img src="~/Content/images/instagram.png" alt=""></a> </div>
                <p class="copyright">© STICKY'S FINGER JOINT | WEBSITE POWERED BY <a href="#">BRANDIBBLE </a></p>
            </div>
        </div>
    </div>
</footer>
<!-- /container --> 
